#nav_bar {text-align: right;}
#middle {text-align: center;}


#navbar {
list-style-type: none;
margin-top: 25px;
margin-right: 15px;
padding: 0;
width: 280.94px;
height: 50px;
position: absolute;
top: 0;
right: 0;

}

.navbar1 {
display: inline;
margin: 10px;
height: auto:
}

.topwords {
font-family: Arial, sans-serif;
font-size: 13px;
color: #222;
text-decoration: none;
}

.signin {
font-family: Arial, sans-serif;
font-size: 13px;
background-color: #4285f4;
color: #fff;
font-weight: 700;
text-decoration: none;
border-right-color: #4285f4;
border-left-color: #4285f4;
border-right-color: #4285f4;
border-bottom-color: #4285f4;
border-top-color: #4285f4;
border-style: solid;
border-radius: 0;
padding: 5px;
padding-right: 15px;
padding-left: 15px;

}

.main {
width: 559px;
height: 190px;
position: absolute;
top: 150px;
left: 0;
right: 0;


margin: auto;
}

.main_picture {
padding: 30px;
}

.box {
height: 44px;
width: 559px;

}

.buttons {
padding-top: 10px;

}

.searchbutton {

height: 36px;
width: 125.75px;
font-family: Arial, sans-serif;
font-size: 13px;
margin-top: 10px;
background-color: #f8f8f8
color: #757575;
font-weight: 700;
border-right-color: #f8f8f8;
border-left-color: #f8f8f8;
border-right-color: #f8f8f8;
border-bottom-color: #f8f8f8;
border-style: solid;
border-radius: 0;
}

.luckybutton {

height: 36px;
width: 142.58px;
font-family: Arial, sans-serif;
font-size: 13px;
margin-top: 10px;
background-color: #f8f8f8
color: #757575;
font-weight: 700;
border-right-color: #f8f8f8;
border-left-color: #f8f8f8;
border-right-color: #f8f8f8;
border-bottom-color: #f8f8f8;
border-style: solid;
border-radius: 0;
}

.languagesupport {
font-family: Arial, sans-serif;
font-size: 13px;
color: #222;
text-decoration: none;
padding-top:20px;
}

input {
height: 44px;
width: 484px;
}

button { 
font-size: 10px;
margin: 0 auto;
}

#country_bar {
position: fixed;
bottom: 10px;
width: 100%;
height: 30px;
margin-bottom: 20px;
margin-left: 22px;
background-color: #f8f8f8;
padding-bottom: 23px;
font-family: Arial, sans-serif;
font-size: 15px;
color: rgba(0,0,0,.54);
text-decoration: none;
}


#bottom_bar {

position: fixed;
bottom: 0;
width: 100%;

}

#bottomleft {
list-style-type: none;
margin: 0;
padding: 0;
width: 50%;
height: 34px;
position: absolute
bottom: 0;
left: 0;
background-color: #f8f8f8;
border-top: solid;
border-top-color: #BFBFBF;
border-width: 1px;
text-align: left;

}

#bottomleft li a {
float: left;
display: block;
font-family: Arial, sans-serif;
font-size: 13px;
color: #222;
text-decoration: none;
padding: 10px


}

#bottomright {
list-style-type: none;
margin: 0;
padding: 0;
width: 50%;
height: 35px;
position: absolute;
bottom: 0;
right: 20px;
text-align: right;
background-color: #f8f8f8;
border-color: black;
border-top: solid;
border-top-color: #BFBFBF;
border-width: 1px;


}

#bottomright li a {
float: right;
display: block;
font-family: Arial, sans-serif;
font-size: 13px;
color: #222;
text-decoration: none;
padding: 10px

}
